<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="/category">Category</a>
  </li>

  <li class="nav-item">
    <a class="nav-link " routerLink="/Product">Product</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/about">About Us</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/Contact-us">Contact Us</a>
  </li>
</ul>
